[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/PcKiLl3r/init.lua
#[submodule "machine/.machine/ansible-setup"]
#	path = machine/.machine/ansible-setup
#	url = https://github.com/PcKiLl3r/linux-dev-playbook.git
[submodule "work/work"]
	path = work/work
	url = https://github.com/PcKiLl3r/work
[submodule "personal/personal/custom-dev-exp/linux-dev-playbook"]
	path = personal/personal/custom-dev-exp/linux-dev-playbook
	url = https://github.com/PcKiLl3r/linux-dev-playbook
[submodule "personal/personal/custom-dev-exp/prime-dev"]
	path = personal/personal/custom-dev-exp/prime-dev
	url = https://github.com/ThePrimeagen/dev
[submodule "personal/personal"]
	path = personal/personal
	url = https://github.com/PcKiLl3r/personal
